h1 {
    color : #2f4f4f;
    margin-bottom: 24px;
}

.nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    color : white;
    background-color: #13a4a4;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 2px;
}

.nav .featured {
    background-color: orange;
    box-shadow: 10px 2px #6f9090;
}

/*LoVe / HAte : link, visitied, hover, active*/
a:link {
    color: blue;
}

a:visited {
    color : purple;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: red;
}

.footer {
    color : #666;
    padding: 18px 0px;
    background-color: #ccc;
    text-align: center;
    font-size: 14px;
    margin-bottom: 0px;
}

.footer a {
    color : inherit;
    text-decoration: underline;
}